/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    height: 100vh;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #029588;
    background-image: linear-gradient(180deg, #029588 20%, #d2dbdb 20%);
    position: relative;
}

img {
    display: block;
    height: 100%;
}

.circle_img {
    border-radius: 50%;
}

.flex {
    display: flex;
}

.align_center {
    align-items: center;
}

.padding_10_15 {
    padding: 10px 15px;
}

.padding_20_30 {
    padding: 20px 30px;
}

.pointer {
    cursor: pointer;
}

i {
    font-size: 22px;
}

.bglightgray {
    background-color: #e9e9e9;
}

/* WRAPPER */
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    height: 90%;
    width: 80%;
}

/* app root */
#root {
    height: 100%;
}

/* app container */
.app_container {
    width: 100%;
    height: 100%;
    display: flex;
}

.left_col {
    width: 400px;
    height: 100%;
}

.right_col {
    width: calc(100% - 400px);
    height: 100%;
}

/* colonna sinistra */
.myuser {
    height: 90px;
    border-right: 2px solid lightgray;
}

.myuser_,
.chat_user_img {
    margin-right: 15px;
}

.myuser_name {
    flex-grow: 1;
}

.icons .icon {
    margin-left: 10px;
    color: gray;
}

.notify {
    height: 90px;
    background-color: #8edafc;
}

.notify .icon {
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #8edafc;
    background-color: white;
    margin-right: 15px;
}

.desktop_notify {
    font-size: small;
    color: gray;
}

.contacts {
    height: calc(100% - 180px);
    width: 100%;
    background-color: white;
}

.contacts_filter {
    width: 100%;
    height: 60px;
}

.text_input {
    flex-grow: 1;
    padding: 0 20px;
    height: 100%;
}

.contacts_cont {
    height: calc(100% - 60px);
    overflow-y: auto;
}

.single_chat {
    height: 90px;
    list-style-type: none;
    border-bottom: 1px solid lightgray;
}

.single_chat:last-child {
    border-bottom: 0;
}

.single_chat:hover {
    background-color: #e9e9e9;
}

.chat_user_img {
    height: 100%;
}

/* colonna destra */
.chat_user {
    height: 90px;
}

.chat_user_name {
    flex-grow: 1;
}

.last_login {
    color: gray;
    font-style: italic;
    font-size: small;
    margin-top: 5px;
}

.chat_text {
    height: calc(100% - 180px);
    background-image: url(../img/mine.jpg)
}

.message_list {
    flex-direction: column;
}

.single_message {
    width: max-content;
    border-radius: 10px;
    margin: 5px 0;
    background-color: white;
    list-style-type: none;
    flex-direction: column;
}

.single_message.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.msg_date {
    color: gray;
    font-style: italic;
    font-size: x-small;
    margin-top: 5px;
    align-self: flex-end;
}

.chat_input {
    height: 90px;
    background-color: #f3eee9;
}

.send_btn {
    color: white;
    height: 40px;
    width: 40px;
    background-color: seagreen;
    justify-content: center;
    margin-right: 15px;
}

.send_btn .fas {
    font-size: 18px;
    transform: translateX(-1.5px);
}

.message_input {
    width: 100%;
}