<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <!-- INIZIO WRAPPER -->
    <div class="wrapper">

        <!-- inizio vue js #root -->
        <div id="root">

            <!-- inizio app containter -->
            <div class="app_container flex align_center">

                <!-- inizio colonna sinistra -->
                <div class="left_col">
                    <div class="myuser bglightgray flex align_center">
                        <div class="myuser_img chat_user_img">
                            <img :src="'img/avatar' + myContact.avatar + '.jpg'" alt="">
                        </div>
                        <span class="myuser_name">{{myContact.name}}</span>
                        <div class="icons">
                            <span class="icon pointer"><i class="fas fa-circle-notch"></i></span>
                            <span class="icon pointer"><i class="fas fa-comment-alt"></i></span>
                            <span class="icon pointer"><i class="fas fa-ellipsis-v"></i></span>
                        </div>
                    </div>
                    <div class="notify flex align_center">
                        <div>
                            <span class="pointer"><i class="fas fa-bell-slash"></i></span>
                        </div>
                        <div>
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <div><a href="#">Attiva notifiche desktop</a></div>
                        </div>
                    </div>
                    <div class="contacts">
                        <div class="contacts_filter bglightgray flex align_center">
                            <span><i class="fas fa-search"></i></span>
                            <input
                            type="text"
                            class="filter_input"
                            placeholder="Cerca o inizia una nuova chat">
                        </div>
                        <div class="contacts_cont">
                            <ul class="contacts_list">
                                <li v-for="(contact, index) in contacts" @click="changeChat(contact, index)" class="single_chat pointer flex">

                                    <div class="chat_user_img">
                                        <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                                    </div>
                                    <div class="chat_user_name">{{contact.name}}</div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- fine colonna sinistra -->
                
                <!-- inizio colonna destra -->
                <div class="right_col">
                    <div class="chat_user bglightgray flex align_center">
                        <div class="chat_user_img">
                            <img :src="'img/avatar' + contacts[currentChat].avatar + '.jpg'" alt="">
                        </div>
                        <div class="chat_user_name">{{contacts[currentChat].name}}</div>
                        <div class="icons">
                            <span class="icon pointer"><i class="fas fa-search"></i></i></span>
                            <span class="icon pointer"><i class="fas fa-paperclip"></i></i></span>
                            <span class="icon pointer"><i class="fas fa-ellipsis-v"></i></span>
                        </div>
                    </div>
                    <div class="chat_text">
                        <ul class="message_list flex">
                            <li v-for="message in (contacts[currentChat].messages)"
                            class="single_message flex"
                            :class="{'sent': message.status == 'sent'}">
                                <div class="msg_text">{{message.text}}</div>
                                <div class="msg_date">{{message.date}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat_input flex align_center">
                        <span><i class="far fa-smile"></i></span>
                        <div class="text_input">
                            <input type="text"
                            @keyup.enter="sendMsg(currentChat)"
                            v-model="newUserMsg"
                            class="message_input"
                            placeholder="Scrivi un messaggio">
                        </div>
                        <span><i class="fas fa-microphone"></i></span>
                    </div>
                </div>
                <!-- fine colonna destra -->

            </div>
            <!-- fine app containter -->

        </div>
        <!-- fine vue js #root -->

    </div>
    <!-- FINE WRAPPER -->

    <!-- JS -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>   

</body>
</html>